*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}

@font-face {
    font-family: variable;
    src: url(./news-homepage-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.container{
    width: 900px;
    height: 600px;
    position: relative;
    border: 2px solid black;
    margin: auto;
    border-style: none;
    /* overflow: scroll; */
}

header{
    display: flex;
    justify-content: space-between;
    height: 20%;
}
#head li{
    display: inline;
    padding: 10px 5px;
    color: rgb(30, 30, 70);
}
#head ul{
    padding-top: 50px;
    transform: translateX(-100px);
}

header img{
    height: 70px;
    padding-top: 40px;
}
aside{
    width: 70%;
    height: 50vh;
}
.web3-pic img{
    height: 200px;
    width: 80%;
    padding-top: 10px;
    transform: translateY(-30px);
}
.box{
    position: relative;
    display: flex;
    gap: 150px;
    transform: translateY(-30px);

}
.par{
    position: relative;
    padding: 10px 10px;
    transform: translateX(-80px);

}
.par p{
    color: rgb(158, 158, 235);
    font-size: 13px;
    padding-bottom: 17px;
}
#read{
    height: 30px;
    width: 120px;
    border: 2px solid black;
    background: rgb(211, 129, 143);
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    border-style: none;
    font-size: 12px;
    color: white;
}
h1{
    margin-top: 10px;
    font-size: 2em;


    
}
section{
    position: relative;
    width: 240px;
    height: 320px;
    background: rgb(0, 0, 24);
    padding: 10px;
    color:white;
    transform: translate(-90px, -20px);
    padding-left: 15px;
}

section h1{
    color: rgb(197, 197, 5);
}
main{
    display: flex;
}

.box1{
    position: relative;
    border: 2px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    padding-top: 10px;
}
.box1 h3{
    font-size: 16px;
}
.box1 p{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.box2{
    position: relative;
    border: 2px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    padding-top: 15px;
}
.box2 h3{
    font-size: 16px;
}
.box2 p{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.box3{
    position: relative;
    border: 2px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    padding-top: 10px;
    border-style: none;
}
.box3 h3{
    font-size: 16px;
}
.box3 p{
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 15px;
}

.pcs{
    position: relative;
    display: flex;
    gap: 30px;
    padding-bottom: 150px;
    /* transform: translateY(-10px); */
}


.pcs img{
    position: relative;
    height: 80px;
    top: 50px;
    left: 20px;
}

.rev{
    position: relative;
    top: 40px;
}

.rev h1{
    font-size: 25px;
    color: rgb(216, 212, 212);
}

.rev h3{
    font-size: 14px;
}

.rev p{
    font-size: 11px;
    color: rgb(216, 212, 212);
    padding-top: 5px;
    line-height: 15px;

}

footer{
    gap: 10px;
}